<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body{
            color:blue;
            background: darkgray;
        }
        .x
        {
            position: absolute;left: 450px;top: 300px;
            color:blue;
        }
        </style>
</head>
<body>
<h1 style="position: absolute;left:300px;">LIBRARY MANAGEMENT SYSTEM</h1>
<h3 style="position: absolute; top:230px;left:300px;">For Operations Please Enter Correct User Name And Password!</h3>
<!--<a href="loginpage.html" target="_blank">Login</a>-->
<button onclick="window.location.href='./loginpage.html'" class="x">Login Window</button>
</body>
</html>