<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return Book</title>
    <style>
        .x{
            position: absolute; left: 400px; top: 200px;
           color: red;
        }
        body{
            background: oldlace;
        }
        </style>
</head>
<body>
<b class="x"><h1>Search Student</h1>
<form action="./returnbk" method="post">
    {% csrf_token %}
    RollNo:<input type="text" name="rl">
    <input type="submit" value="Search" style="color: red">
</form></b>
</body>
</html>